@import "reset";

// fase 1) Mostrar a pantalla 5 estrelles (o l’icona que més us agradi) centrades i amb un color assignat.

body{
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100vw;
}
.section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fcecdd;
}
.estrellas {
    @extend.section;
}

.estrellas li{
    margin-right: 2%;
    margin-left: 2%;
    font-size: 7rem;
    color: #ac0d0d;
}

// fase 2) Que el color de l’estrella canvi si el mouse es posa sobre d’una d’elles.
.estrellas li:hover{
    color: #f48b29;
}
